{#each plants as |plant|}}



<tr data-id="{{plant.id}}">
    <td class="col-sm-10 saved-description">{{list_item.item_description}}</td>
    <td class="col-xs-3">
      <button type="button" data-toggle="modal" data-target="#editItemModal" data-id="{{list_item.id}}" class="btn primary-button edit-button">Edit</button>
    </td>
      <td class="col-xs-3">
        <button type="button" class="delete-item ibtnDel btn delete-button" data-id="{{list_item.id}}">Delete</button>
      </td>

      <br>
</tr>
{{/each}}
