$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css';

.image-buttons {
  display: inline-block;
  height: 250px;
  margin: auto 80px auto;
  width: 250px;
  cursor: pointer;

}

.plants-buttons {
  width: 80%;
  margin: auto;
}

.col-xs-12 {
  margin-bottom: 20px;
  text-align: center;
}
